:root {

    --background-color: #f5f5f5;
    --rightRecipes-color: #dfdfdf;
    --color3:#6a994e;
    --container-color: #161a1d;
    --border-color:#f2545b;
    --button-color: #13293d;
    --focus-color: #d8a47f;
    --inputtext-color: #f2faf0;



}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lobster', cursive, sans-serif;

    margin: 0 auto;

}

body {
    background-size: cover;
    background-color: var(--background-color);
    color: var(--container-color)
}

h3 {
    font-weight: bold;
    font-size: 20px;
}

/* left container */
.logo {
    height: 200px;
    width: 200px;
}

.leftcontainer {
    background-color: var(--container-color);
    min-height: 100vh;
    border-right: 6px solid var(--color3);
}

.leftcontainerinput {
    margin: 0 auto;
    width: 60%;
    
}

.inputfelid {
    border-radius: 10px 10px 0px 0px;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--container-color);
    border-bottom: 3px solid var(--border-color);
    
    color: var(--inputtext-color);
}

.inputfelid:hover {
    background-color: #313131;
    /* color: var(--container-color); */
    transition: 10px;



}

.inputfelid:focus {
    background-color: #3d3d3d;
    color: #f2faf0;
    border-bottom: 3px solid var(--border-color);
}

.headertag1 {
    font-weight: bold;
    text-align: left;
    padding: 20px 60px;
    font-size: 30px;
    color: var(--container-color);
}

.headertag1 span {
    color: var(--color3);
}
.searchbutton {
    border-radius: 10px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #f2faf0;
    font-weight: bold;
    padding: 15px;
    /* transition: 0.5s; */
}


.searchbutton:hover {
    background-color:var(--color3);
    color: #f2faf0;
    border: 1px solid var(--color3);


}

.searchbutton:focus {

    box-shadow: 0px 0px 15px var(--color3);
    background-color: transparent;


}
.errormessge{
    color: #f18f94;

}

/* right container */
.rightcontainer{
    position: relative;
    right: 0;
}
.rightcontainerinput {
    align-items: center;
    justify-content: center;
}

.intro{
    padding: 30px 60px;
    text-align: center;
}

.intro h2{
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 30px;
}

.intro h2 span{
    color: var(--color3);
}

.intro p strong{
    color: var(--color3);
}

.imagecard {
    border-radius: 50%;
    overflow: hidden;
    margin-right: -100px;
    position: relative;
}

.recipe-single {
    padding: 0 20px;
    margin-bottom: 20px;
}

.rightcontainerRecipes {
    background-color: var(--rightRecipes-color);
    padding: 30px;
    border-radius: 30px 5px 30px 5px;
    text-align: center;
}

.recipetitle,
.recipeingredients,
.calarios {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.recipeingredients {
    border-bottom: 2px solid #242323;
    

}

.calarios {
    text-align: center;
    font-weight: bold;
    color: var(--color3);
    font-size: 30px;
    margin: 5px auto;
}
.calarios p{
    margin-bottom: 0;
}

.big3 {
    text-align: center;
    margin: 0 auto;
}

.protein,
.carbs,
.fats {
    padding: 5px;
    align-content: center;
    color: #383838;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    border-left: 2px dashed var(--container-color);
}
.protein p,
.carbs p,
.fats p{
    margin-bottom: 0;
}

.ingredient-list li {
    display: inline-block;
    margin-left: 10px;
    list-style: disc;
}

.ingredient-list li::before {
    content: "\f10c";
    font-family: FontAwesome;
    font-size: 8px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    vertical-align: top;
    margin-right: 7px;
    line-height: 25px;
}

.energy-result {
    align-items: center;
}

.audio{
    margin-top: 40px;
}

.audio iframe {
    /* visibility: hidden;
    opacity: 0; */
    width: 100%;
    
}




/* Medium only */
@media screen and (min-width: 320px) and (max-width: 768px) {
    .maincontext {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .imagecard {
        overflow: hidden;
        margin-right: 0;
        margin-bottom: -100px;
        max-width: 200px;
        position: relative;
    }

    .rightcontainerRecipes{
        padding-top: 110px;
    }

    .protein, .carbs, .fats{
        border-left: none;
    }
    .leftcontainer {

        width: 100%;
        min-height: auto;
        padding-bottom: 50px;

    }
    .leftcontainerinput {
        margin: 0 auto;
        width: 60%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        
    }
    .searchbutton {
        
        height:5vh;
        width: 100%;
        
    }


}